a.list-group-item, button.list-group-item {
    color: #555;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid #ddd;
}

a {
    color: #337ab7;
    text-decoration: none;
    
}

.panel:not(.bootstrap-panel):hover {
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
}

.panel:not(.bootstrap-panel) {
    border-radius: 0;
    border: 0;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
} 

.panel-default {
    border-color: #ddd;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

.pull-right {
    float: right !important;
}

.panel-heading {
    background: none;
    border-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
}